<div class="well row">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.input_field :first_name, class: "form-control col-md-7 col-xs-12" %>
        </div>
    </div>
    <div class="form-group">
        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name <span class="required">*</span></label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.input_field :middle_name, class: "form-control col-md-7 col-xs-12" %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.input_field :last_name, class: "form-control col-md-7 col-xs-12" %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Gender</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.input_field :gender, :collection => Applicant.genders.keys, class:"select2_single form-control", tabindex: "-1" %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.input_field :dob, class: "date-picker form-control col-md-7 col-xs-12", readonly: true, id: "single_cal4", placeholder: "select your date of birth" %>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.input_field :email, class: "form-control col-md-7 col-xs-12" %>
        </div>
    </div> 
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Photo <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.file_field :avatar, class: "form-control col-md-7 col-xs-12" %>
        </div>
    </div>
</div>


<script type="text/javascript">
     // Setup form validation on the #register-form element
    $("#new_applicant").validate({

        errorClass: 'form-control-error',
        validClass: 'form-control-sucess',
        ignore: "",

    
        // Specify the validation rules
        rules: {
            "applicant[first_name]": "required",
            "applicant[middle_name]": "required",
            "applicant[last_name]": "required",
            "applicant[gender]": "required",
            "applicant[dob]": "required",
            "applicant[email]": "required",
            "applicant[avatar]": "required",
            "applicant[addresses_attributes][0][detail]": "required",
            "applicant[addresses_attributes][0][city]": "required",
            "applicant[addresses_attributes][0][state]": "required",
            "applicant[addresses_attributes][0][pin]": "required",
            "applicant[addresses_attributes][0][telephone]": "required",
            "applicant[addresses_attributes][0][mobile]": "required",
            "applicant[addresses_attributes][1][detail]": "required",
            "applicant[addresses_attributes][1][city]": "required",
            "applicant[addresses_attributes][1][state]": "required",
            "applicant[addresses_attributes][1][pin]": "required",
            "applicant[addresses_attributes][1][telephone]": "required",
            "applicant[addresses_attributes][1][mobile]": "required"
        },
        
        // Specify the validation error messages
        messages: {
            "applicant[first_name]": "required",
            "applicant[middle_name]": "required",
            "applicant[last_name]": "required",
            "applicant[gender]": "required",
            "applicant[dob]": "required",
            "applicant[email]": "required",
            "applicant[avatar]": "required",
            "applicant[addresses_attributes][0][detail]": "required",
            "applicant[addresses_attributes][0][city]": "required",
            "applicant[addresses_attributes][0][state]": "required",
            "applicant[addresses_attributes][0][pin]": "required",
            "applicant[addresses_attributes][0][telephone]": "required",
            "applicant[addresses_attributes][0][mobile]": "required",
            "applicant[addresses_attributes][1][detail]": "required",
            "applicant[addresses_attributes][1][city]": "required",
            "applicant[addresses_attributes][1][state]": "required",
            "applicant[addresses_attributes][1][pin]": "required",
            "applicant[addresses_attributes][1][telephone]": "required",
            "applicant[addresses_attributes][1][mobile]": "required"
        },
        
        submitHandler: function(form) {
            form.preventDefault();
            // form.submit();
        }
    });

</script>