<!-- <body class="nav-md"> -->
<div class="container body">
<!-- /top navigation -->
<!-- page content -->
<div class="right_col" role="main">
<div class="">
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
    <div class="x_title">
        <h1 class="text-center">Candidate Application Form</h1>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- Smart Wizard -->
        <div id="wizard" class="form_wizard wizard_horizontal text-center" >
            <ul class="wizard_steps" >
                <li>
                    <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                    Step 1<br />
                    <small>Personal Information</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                    Step 2<br />
                    <small>Education</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                    Step 3<br />
                    <small>Present Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                    Step 4<br />
                    <small>Last Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-5">
                    <span class="step_no">4</span>
                    <span class="step_descr">
                    Step 5<br />
                    <small>Previous Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-6">
                    <span class="step_no">5</span>
                    <span class="step_descr">
                    Step 6<br />
                    <small>References</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-7">
                    <span class="step_no">6</span>
                    <span class="step_descr">
                    Step 7<br />
                    <small>Additional Details</small>
                    </span>
                    </a>
                </li>
            </ul>
            <%= simple_form_for(@applicant) do |f| %>
            <%= f.error_notification %>
                <div id="step-1">
                    <div class="form-horizontal form-label-left col-md-12">
                        <%= render partial: "basic_form", locals: {f: f} %>
                        <!-- ruby partials for present and permanent address -->
                        <%= render partial: "address_present", locals: {add_pr: f} %>
                        <%= render partial: "address_permanent", locals: {add_per: f} %>

                    </div>
                </div>
                <div id="step-2"><p>(Begin with the most recent qualification and end with Std. X)</p>
                    <div class="form-horizontal form-label-left">
                        
                        <%= render partial: "education", locals: {f: f} %>

                    </div>
                </div>
                <div id="step-3">
                    <div class="form-horizontal form-label-left">

                        <%= render partial: "employment_current", locals: {f: f} %>

                    </div>
                </div>
                <div id="step-4">
                    <div class="form-horizontal form-label-left">
                        
                        <%= render partial: "employment_last", locals: {f: f} %>

                    </div>
                </div>
                <div id="step-5">
                    <div class="form-horizontal form-label-left">
                        <div class="well row">
                          
                            <%= render partial: "employment_past", locals: {f: f} %>   

                        </div> 
                        
                    </div>
                </div>
                <div id="step-6">
                    <div class="form-horizontal form-label-left">
                            
                            <%= render partial: "references", locals: {f: f} %>
                        
                    </div>
                </div>
                <div id="step-7">

                    <%= render partial: "additional_details", locals: {f: f} %>

                </div>
            <% end %>
            <!-- /footer content -->
        </div>
        <!-- /page content -->
        <footer>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>
<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>
<script type="text/javascript"> 
    $(document).ready(function () {
    // Smart Wizard         
    $('#wizard').smartWizard({
        onLeaveStep:leaveAStepCallback,
        onFinish:onFinishCallback
    });

    function leaveAStepCallback(obj, context){
        // alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
        return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
    }
      // Your Step validation logic
    function validateSteps(stepnumber){
        console.log("#step-" + stepnumber);
       return $("#new_applicant").validate();
    }
    function onFinishCallback(objs, context){
        if(validateAllSteps()){
            $('#new_applicant').submit();
        }
    }

    function validateAllSteps(){
        var isStepValid = true;
        // all step validation logic     
        return isStepValid;
    }          
    // Smart Wizard
    $('#wizard_verticle').smartWizard({
    transitionEffect: 'fade'
    });
    });
</script>


<script type="text/javascript">
        $(document).ready(function () {
            $('.single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('.single_cal3').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_3"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
<!-- </body>