<!-- <body class="nav-md"> -->
<div class="container body">
<!-- /top navigation -->
<!-- page content -->
<div class="right_col" role="main">
<div class="">
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
    <div class="x_title">
        <h1 class="text-center">Candidate Application Form</h1>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- Smart Wizard -->
        <div id="wizard" class="form_wizard wizard_horizontal text-center" >
            <ul class="wizard_steps" >
                <li>
                    <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                    Step 1<br />
                    <small>Personal Information</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                    Step 2<br />
                    <small>Education</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                    Step 3<br />
                    <small>Present Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                    Step 4<br />
                    <small>Last Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-5">
                    <span class="step_no">4</span>
                    <span class="step_descr">
                    Step 5<br />
                    <small>Previous Employment</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-6">
                    <span class="step_no">5</span>
                    <span class="step_descr">
                    Step 6<br />
                    <small>References</small>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#step-7">
                    <span class="step_no">6</span>
                    <span class="step_descr">
                    Step 7<br />
                    <small>Additional Details</small>
                    </span>
                    </a>
                </li>
            </ul>
            <%= simple_form_for(@applicant) do |f| %>
            <%= f.error_notification %>
                <div id="step-1">
                    <div class="form-horizontal form-label-left col-md-12">
                        <div class="well row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.input_field :first_name, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name <span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= f.input_field :middle_name, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.input_field :last_name, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Gender</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.input_field :gender, :collection => Applicant.genders.keys, class:"select2_single form-control", tabindex: "-1" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.input_field :dob, class: "date-picker form-control col-md-7 col-xs-12", readonly: true, id: "single_cal4", placeholder: "select your date of birth" %>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.input_field :email, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div> 
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Photo <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= f.file_field :avatar, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                        </div>
                        <%= f.simple_fields_for @applicant.addresses.build do |add| %>
                            <div class="well row">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Current Address
                                    </label>
                                    <%= add.hidden_field :address_type, value: 'present' %>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentcity">City <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :city, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentstate">State<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :state, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentpin">Pin<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :pin, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentphone">Telephone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :telephone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentphone">Mobile<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :mobile, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= f.simple_fields_for @applicant.addresses.build do |add| %>
                            <div class="well row">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Permanent Address
                                    </label>
                                    <%= add.hidden_field :address_type, value: 'permanent' %>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentcity">City <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :city, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentstate">State<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :state, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentpin">Pin<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :pin, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentphone">Telephone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :telephone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentphone">Mobile<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= add.input_field :mobile, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        
                    </div>
                </div>
                <div id="step-2"><p>(Begin with the most recent qualification and end with Std. X)</p>
                    <div class="form-horizontal form-label-left">
                        <%= f.simple_fields_for @applicant.educations.build do |edu| %>
                            <div class="well row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-course">Course/Degree/Certificate <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :degree, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-specialization" class="control-label col-md-3 col-sm-3 col-xs-12">Specialization<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :specialization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Institute">Name of the Institute/University <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :institute, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-location">Location<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :location, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Graduation">Graduation(Month/Yr)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :graduation_year, class: "form-control col-md-7 col-xs-12 single_cal3", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Aggregate">Aggregate Marks(% or CGPA)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :marks, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= f.simple_fields_for @applicant.educations.build do |edu| %>
                            <div class="well row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-course">Course/Degree/Certificate <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :degree, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-specialization" class="control-label col-md-3 col-sm-3 col-xs-12">Specialization<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :specialization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Institute">Name of the Institute/University <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :institute, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-location">Location<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :location, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Graduation">Graduation(Month/Yr)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :graduation_year, class: "form-control col-md-7 col-xs-12 single_cal3", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Aggregate">Aggregate Marks(% or CGPA)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :marks, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= f.simple_fields_for @applicant.educations.build do |edu| %>
                            <div class="well row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-course">Course/Degree/Certificate <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :degree, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-specialization" class="control-label col-md-3 col-sm-3 col-xs-12">Specialization<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :specialization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Institute">Name of the Institute/University <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :institute, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-location">Location<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :location, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Graduation">Graduation(Month/Yr)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :graduation_year, class: "form-control col-md-7 col-xs-12 single_cal3", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Aggregate">Aggregate Marks(% or CGPA)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :marks, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= f.simple_fields_for @applicant.educations.build do |edu| %>
                            <div class="well row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-course">Course/Degree/Certificate 
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :degree, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-specialization" class="control-label col-md-3 col-sm-3 col-xs-12">Specialization</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :specialization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Institute">Name of the Institute/University 
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :institute, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-location">Location
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :location, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Graduation">Graduation(Month/Yr)
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :graduation_year, class: "form-control col-md-7 col-xs-12 single_cal3", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-Aggregate">Aggregate Marks(% or CGPA)
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= edu.input_field :marks, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div id="step-3">
                    <div class="form-horizontal form-label-left">
                        <%= f.simple_fields_for @applicant.employments.build do |emp| %>
                            <%= emp.hidden_field :current, value: "present" %>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-employer">Name of the Employer<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="present-employees" class="control-label col-md-3 col-sm-3 col-xs-12">Number of Employees<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :company_streangth, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-sales">Sales Turnover <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :sales_turnover, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-address">Address<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :address, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-phone">Phone<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :phone, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed From<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :start, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed To<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :end, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-notice">Notice Period<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :notice_period, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-designation">Your Designation<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :designation, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-code">Employee Code<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :emp_id, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-responsibilities">Responsibilities<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :roles, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-leaving">Reason for Leaving<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :leaving_reason, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-leaving">Supervisor's Name & Designation & EMAIL ID<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :supervisor_details, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Can we take reference from your supervisor?</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.collection_radio_buttons :supervisor_as_reference , [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div id="step-4">
                    <div class="form-horizontal form-label-left">
                        <%= f.simple_fields_for @applicant.employments.build do |emp| %>
                            <%= emp.hidden_field :current, value: "last_employer" %>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-employer">Name of the Employer<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-address">Address<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :address, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-phone">Phone<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :phone, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed From<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :start, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed To<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :end, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-designation">Your Designation<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :designation, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-code">Employee Code<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :emp_id, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-responsibilities">Responsibilities<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :roles, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-leaving">Reason for Leaving<span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                <%= emp.input_field :leaving_reason, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div id="step-5">
                    <div class="form-horizontal form-label-left">
                        <div class="well row">
                            <%= f.simple_fields_for @applicant.employments.build do |emp| %>
                                <%= emp.hidden_field :current, value: "past" %>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-employer">Name of the Employer<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-address">Address<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :address, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-phone">Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed From<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :start, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed To<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :end, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-designation">Your Designation<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :designation, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-code">Employee Code<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :emp_id, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-responsibilities">Responsibilities<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :roles, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-leaving">Reason for Leaving<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :leaving_reason, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            <% end %>        
                        </div> 
                        <div class="well row">
                            <%= f.simple_fields_for @applicant.employments.build do |emp| %>
                                <%= emp.hidden_field :current, value: "past" %>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-employer">Name of the Employer<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-address">Address<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :address, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-phone">Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed From<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :start, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Dates Employed To<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :end, class: "form-control col-md-7 col-xs-12 single_cal1", readonly: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-designation">Your Designation<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :designation, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-code">Employee Code<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :emp_id, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-responsibilities">Responsibilities<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :roles, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="present-leaving">Reason for Leaving<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= emp.input_field :leaving_reason, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            <% end %>        
                        </div>   
                    </div>
                </div>
                <div id="step-6">
                    <div class="form-horizontal form-label-left">
                        <div class="well row">
                            <%= f.simple_fields_for @applicant.references.build do |ref| %>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-name">Name<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-duration" class="control-label col-md-3 col-sm-3 col-xs-12">Duration and Nature of Association<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :duration, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-organization" class="control-label col-md-3 col-sm-3 col-xs-12">Organization and Designation<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :organization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-office-email" class="control-label col-md-3 col-sm-3 col-xs-12">Office Email<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :off_email, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-personal-email" class="control-label col-md-3 col-sm-3 col-xs-12">Personal Email<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :per_email, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-home-phone">Home Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :home_phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-personal-phone">Personal Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :office_phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="well row">
                            <%= f.simple_fields_for @applicant.references.build do |ref| %>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-name">Name<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :name, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-duration" class="control-label col-md-3 col-sm-3 col-xs-12">Duration and Nature of Association<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :duration, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-organization" class="control-label col-md-3 col-sm-3 col-xs-12">Organization and Designation<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :organization, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-office-email" class="control-label col-md-3 col-sm-3 col-xs-12">Office Email<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :off_email, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ref-personal-email" class="control-label col-md-3 col-sm-3 col-xs-12">Personal Email<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :per_email, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-home-phone">Home Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :home_phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ref-personal-phone">Personal Phone<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                    <%= ref.input_field :office_phone, class: "form-control col-md-7 col-xs-12" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div id="step-7">
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nationality</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :nationality, [[1, "&nbsp;Indian".html_safe],[0, "&nbsp; Others".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%= f.input_field :other_nationality_detail, class: "form-control", placeholder: "Other Nationality" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Do you hold the valid passport?</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :passport, [[1, "&nbsp;YES".html_safe],[0, "&nbsp;NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.input_field :passport_no, class: "form-control", placeholder: "Passporn number" %>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.input_field :passport_valid_till, class: "form-control", placeholder: "Valid until" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Have you been denied VISA to any country?</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :visa_denied, [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%= f.input_field :visa_denied_detail, class: "form-control", placeholder: "Detail" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Have you worked on overseas assignments?</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :overseas_assignments, [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%= f.input_field :overseas_assignments_detail, class: "form-control", placeholder: "Detail" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Have you suffered from any major illness
                            /surgery /accident in the last five years?</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :major_illness, [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%= f.input_field :major_illness_detail, class: "form-control", placeholder: "Detail" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Have you ever been arrested, prosecuted or convicted for any criminal offense?  </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :convicted, [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%= f.input_field :convicted_detail, class: "form-control", placeholder: "Detail" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Do you have any commitment to another employer or organization that might affect your employment with us?  </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.collection_radio_buttons :have_bond, [[1, "&nbsp;YES".html_safe],[0, "&nbsp; NO".html_safe]], :first, :last %>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <%#= f.input_field :last_name, class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Any other information you would like us to know which may have an impact your continuous presence at work?</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                             
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <%= f.input_field :others, class: "form-control", placeholder: "Explain in detail" %>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                             
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.input_field :date, class: "form-control" , placeholder: "Date"%>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.input_field :place, class: "form-control" , placeholder: "Place"%>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <%= f.input_field :sign, class: "form-control",  placeholder: "Signature" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <!-- /footer content -->
        </div>
        <!-- /page content -->
        <footer>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>
<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    // Smart Wizard
    $('#wizard').smartWizard();
    function onFinishCallback() {
    $('#wizard').smartWizard('showMessage', 'Finish Clicked');
    $("#new_applicant").submit();
    //alert('Finish Clicked');
    }
    });
    $(document).ready(function () {
    // Smart Wizard
    $('#wizard_verticle').smartWizard({
    transitionEffect: 'slide'
    });
    });
</script>


<script type="text/javascript">
        $(document).ready(function () {
            $('.single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('.single_cal3').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_3"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
<!-- </body>